In [6]:
# Dependencies
import pandas as pd

In [9]:
# load CSV
survey_data = (r"C:\Users\tommy\Documents\GWU-ARL-DATA-PT-09-2019-U-C\02-Homework\04-Pandas\Instructions\Part-1\Pandas_Mini_Project_Task_A\Resources\2016-FCC-New-Coders-Survey-Data.csv")

In [11]:
# Read with pandas
survey_data_df = pd.read_csv(survey_data)
low_memory = False

In [12]:
# Inspect all columns
survey_data_df.columns.tolist()

['Age',
 'AttendedBootcamp',
 'BootcampFinish',
 'BootcampFullJobAfter',
 'BootcampLoanYesNo',
 'BootcampMonthsAgo',
 'BootcampName',
 'BootcampPostSalary',
 'BootcampRecommend',
 'ChildrenNumber',
 'CityPopulation',
 'CodeEventBootcamp',
 'CodeEventCoffee',
 'CodeEventConferences',
 'CodeEventDjangoGirls',
 'CodeEventGameJam',
 'CodeEventGirlDev',
 'CodeEventHackathons',
 'CodeEventMeetup',
 'CodeEventNodeSchool',
 'CodeEventNone',
 'CodeEventOther',
 'CodeEventRailsBridge',
 'CodeEventRailsGirls',
 'CodeEventStartUpWknd',
 'CodeEventWomenCode',
 'CodeEventWorkshop',
 'CommuteTime',
 'CountryCitizen',
 'CountryLive',
 'EmploymentField',
 'EmploymentFieldOther',
 'EmploymentStatus',
 'EmploymentStatusOther',
 'ExpectedEarning',
 'FinanciallySupporting',
 'Gender',
 'HasChildren',
 'HasDebt',
 'HasFinancialDependents',
 'HasHighSpdInternet',
 'HasHomeMortgage',
 'HasServedInMilitary',
 'HasStudentDebt',
 'HomeMortgageOwe',
 'HoursLearning',
 'ID.x',
 'ID.y',
 'Income',
 'IsEthnicMinority',
 'IsReceiveDiabilitiesBenefits',
 'IsSoftwareDev',
 'IsUnderEmployed',
 'JobApplyWhen',
 'JobPref',
 'JobRelocateYesNo',
 'JobRoleInterest',
 'JobRoleInterestOther',
 'JobWherePref',
 'LanguageAtHome',
 'MaritalStatus',
 'MoneyForLearning',
 'MonthsProgramming',
 'NetworkID',
 'Part1EndTime',
 'Part1StartTime',
 'Part2EndTime',
 'Part2StartTime',
 'PodcastChangeLog',
 'PodcastCodeNewbie',
 'PodcastCodingBlocks',
 'PodcastDeveloperTea',
 'PodcastDotNetRocks',
 'PodcastHanselminutes',
 'PodcastJSJabber',
 'PodcastJsAir',
 'PodcastNone',
 'PodcastOther',
 'PodcastProgrammingThrowDown',
 'PodcastRubyRogues',
 'PodcastSEDaily',
 'PodcastShopTalk',
 'PodcastTalkPython',
 'PodcastWebAhead',
 'ResourceBlogs',
 'ResourceBooks',
 'ResourceCodeWars',
 'ResourceCodecademy',
 'ResourceCoursera',
 'ResourceDevTips',
 'ResourceEdX',
 'ResourceEggHead',
 'ResourceFCC',
 'ResourceGoogle',
 'ResourceHackerRank',
 'ResourceKhanAcademy',
 'ResourceLynda',
 'ResourceMDN',
 'ResourceOdinProj',
 'ResourceOther',
 'ResourcePluralSight',
 'ResourceReddit',
 'ResourceSkillCrush',
 'ResourceSoloLearn',
 'ResourceStackOverflow',
 'ResourceTreehouse',
 'ResourceUdacity',
 'ResourceUdemy',
 'ResourceW3Schools',
 'ResourceYouTube',
 'SchoolDegree',
 'SchoolMajor',
 'StudentDebtOwe']

In [13]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
clean_data_df = survey_data_df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
clean_data_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [14]:
# Change "0" to "No" and "1" to "Yes" in response columns
clean_data_df = clean_data_df.replace({0.0:"No", 1.0:"Yes"})
clean_data_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [15]:
# Calculate total number of respondents in survey
total_surveyed = len(clean_data_df)
total_surveyed

15620

In [16]:
# Extract rows corresponding only to people who attended a bootcamp
attended_bootcamp = clean_data_df.loc[clean_data_df ["AttendedBootcamp"] == "Yes"]
attended_bootcamp

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN
206,36.0,Yes,Yes,No,No,NaN,No,2,more than 1 million,NaN,Japan,NaN,A stay-at-home parent or homemaker,female,Yes,20,NaN,Mobile Developer,bachelor's degree,Communications
209,25.0,Yes,Yes,No,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Not working but looking for work,male,NaN,40,NaN,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",Computer Science
236,52.0,Yes,Yes,Yes,No,45000.0,No,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,male,NaN,30,45000.0,NaN,"some college credit, no degree",NaN
272,38.0,Yes,Yes,Yes,Yes,50000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Structural Engineering
273,35.0,Yes,Yes,Yes,Yes,60000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10,54000.0,NaN,bachelor's degree,Public Administration
285,23.0,Yes,Yes,Yes,No,40000.0,Yes,NaN,NaN,NaN,United States of America,software development,Employed for wages,male,NaN,40,NaN,NaN,bachelor's degree,Journalism
315,31.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,genderqueer,NaN,20,35000.0,User Experience Designer,bachelor's degree,Communications
316,22.0,Yes,Yes,No,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,30,NaN,Front-End Web Developer,associate's degree,General Studies
328,30.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,sales,Employed for wages,female,NaN,20,35000.0,Front-End Web Developer,bachelor's degree,Advertising and Marketing
426,30.0,Yes,Yes,No,Yes,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,40,NaN,Full-Stack Web Developer,bachelor's degree,Liberal Arts
435,26.0,Yes,Yes,No,Yes,NaN,Yes,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,male,NaN,50,NaN,Front-End Web Developer,associate's degree,Psychology
449,38.0,Yes,Yes,No,No,NaN,Yes,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,female,NaN,20,NaN,NaN,bachelor's degree,Architecture
465,40.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,A stay-at-home parent or homemaker,female,NaN,8,NaN,Quality Assurance Engineer,master's degree (non-professional),English
470,45.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Mobile Developer,bachelor's degree,Liberal Arts
478,37.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,NaN,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Sociology
481,27.0,Yes,Yes,No,No,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,NaN,Not working but looking for work,female,NaN,2,NaN,Front-End Web Developer,"trade, technical, or vocational training",NaN
488,25.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Unable to work,male,NaN,9,NaN,Front-End Web Developer,bachelor's degree,Psychology
505,28.0,Yes,Yes,Yes,Yes,50000.0,Yes,Yes,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,Yes,15,38000.0,NaN,"some college credit, no degree",NaN
506,38.0,Yes,Yes,No,No,NaN,Yes,2,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,female,Yes,25,NaN,Back-End Web Developer,bachelor's degree,Anthropology
510,33.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,Australia,NaN,Not working and not looking for work,male,NaN,60,NaN,Full-Stack Web Developer,"trade, technical, or vocational training",NaN
522,33.0,Yes,Yes,No,Yes,NaN,No,NaN,"less than 100,000",NaN,United States of America,NaN,Employed for wages,male,NaN,10,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
525,31.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,50,NaN,Full-Stack Web Developer,bachelor's degree,Psychology
526,30.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,female,NaN,50,NaN,Back-End Web Developer,bachelor's degree,Nutrition
533,20.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,NaN,6,6000.0,NaN,bachelor's degree,Communications
543,27.0,Yes,Yes,Yes,No,58000.0,Yes,NaN,"less than 100,000",NaN,United States of America,software development and IT,Employed for wages,female,NaN,5,43000.0,NaN,bachelor's degree,Business Administration
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14653,29.0,Yes,Yes,Yes,No,50000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,5,15600.0,NaN,bachelor's degree,Political Science
14681,24.0,Yes,Yes,No,No,NaN,Yes,NaN,more than 1 million,NaN,Ukraine,software development and IT,Self-employed freelancer,male,No,4,60000.0,NaN,bachelor's degree,Computer Science
14695,22.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,No,90,24000.0,NaN,bachelor's degree,Computer Science
14701,23.0,Yes,No,NaN,Yes,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,Romania,finance,Employed for wages,male,NaN,8,60000.0,Mobile Developer,some high school,NaN
14751,29.0,Yes,Yes,Yes,No,90000.0,No,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,No,20,48000.0,NaN,bachelor's degree,Industrial Engineering
14766,25.0,Yes,Yes,No,No,NaN,No,NaN,"less than 100,000",NaN,United States of America,software development and IT,Self-employed business owner,male,NaN,50,48000.0,Full-Stack Web Developer,"trade, technical, or vocational training",NaN
14797,37.0,Yes,No,NaN,No,NaN,Yes,3,more than 1 million,NaN,Malaysia,software development and IT,Self-employed freelancer,male,Yes,20,28800.0,NaN,bachelor's degree,Electrical Engineering
14846,15.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,10,8400.0,Back-End Web Developer,some high school,NaN
14987,NaN,Yes,No,NaN,No,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,office and administrative support,Employed for wages,female,NaN,40,60000.0,NaN,associate's degree,Computer Networking
14992,24.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,Nigeria,software development and IT,Employed for wages,male,No,10,51432.0,NaN,associate's degree,Software Engineering
15062,29.0,Yes,No,NaN,Yes,NaN,Yes,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,genderqueer,NaN,20,36000.0,DevOps / SysAdmin,"trade, technical, or vocational training",NaN
15106,24.0,Yes,Yes,Yes,No,50000.0,Yes,NaN,NaN,NaN,United States of America,software development and IT,Employed for wages,female,NaN,10,48000.0,NaN,"some college credit, no degree",NaN
15128,24.0,Yes,Yes,No,Yes,NaN,Yes,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,female,No,30,18000.0,Full-Stack Web Developer,associate's degree,Computer Science
15165,26.0,Yes,No,NaN,No,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed freelancer,male,NaN,40,48000.0,Full-Stack Web Developer,master's degree (non-professional),Music Performance
15188,29.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,Philippines,software development and IT,Employed for wages,female,No,25,28560.0,NaN,bachelor's degree,Engineering
15239,28.0,Yes,Yes,Yes,No,65000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,NaN,45,48000.0,NaN,bachelor's degree,Neuroscience
15348,24.0,Yes,No,NaN,No,NaN,Yes,NaN,more than 1 million,NaN,Vietnam,software development and IT,Self-employed freelancer,male,NaN,30,12000.0,NaN,high school diploma or equivalent (GED),NaN
15395,31.0,Yes,NaN,NaN,NaN,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,Puerto Rico,legal,Employed for wages,female,NaN,6,60000.0,NaN,"some college credit, no degree",NaN
15400,32.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,Saudi Arabia,software development and IT,Self-employed freelancer,female,NaN,12,24000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15406,23.0,Yes,Yes,Yes,No,79000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,NaN,No,12000.0,NaN,bachelor's degree,History
15412,24.0,Yes,Yes,No,Yes,NaN,Yes,NaN,"less than 100,000",NaN,United States of America,software development and IT,Self-employed freelancer,male,NaN,10,36000.0,Full-Stack Web Developer,bachelor's degree,English
15420,25.0,Yes,Yes,Yes,No,10000.0,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,No,NaN,12000.0,NaN,bachelor's degree,Information Technology
15421,22.0,Yes,Yes,No,No,NaN,Yes,NaN,more than 1 million,NaN,Nigeria,software development and IT,Self-employed freelancer,male,NaN,30,7200.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15436,45.0,Yes,No,NaN,No,NaN,Yes,Yes,"between 100,000 and 1 million",NaN,Ukraine,construction and extraction,Self-employed freelancer,male,Yes,5,36000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15465,25.0,Yes,No,NaN,No,NaN,Yes,NaN,"between 100,000 and 1 million",NaN,Ukraine,architecture or physical engineering,Employed for wages,male,NaN,15,14400.0,Back-End Web Developer,master's degree (non-professional),Electrical and Electronics Engineering
15539,39.0,Yes,Yes,Yes,Yes,NaN,Yes,NaN,more than 1 million,NaN,Mexico,NaN,Self-employed freelancer,female,NaN,15,36000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
15540,24.0,Yes,Yes,Yes,Yes,NaN,No,NaN,more than 1 million,NaN,Kenya,"arts, entertainment, sports, or media",Employed for wages,female,NaN,10,16800.0,NaN,bachelor's degree,Computer Systems Networking and Telecommunicat...
15541,23.0,Yes,Yes,Yes,No,21600.0,Yes,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,NaN,24,42000.0,NaN,master's degree (non-professional),Computer Software Engineering
15593,29.0,Yes,No,NaN,No,NaN,No,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting
15600,28.0,Yes,Yes,Yes,No,36000.0,Yes,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8,200000.0,NaN,bachelor's degree,Marketing

In [17]:
# Calculate average age of attendees
average_age = attended_bootcamp["Age"].mean()

# Calculate how many people attended a bootcamp
amount_attended = attended_bootcamp["AttendedBootcamp"].count()

# Calculate how many attendees hold degrees
holds_degree = attended_bootcamp["SchoolDegree"].count()

# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_bootcamp["Gender"].count()
male = attended_bootcamp["Gender"].value_counts()['male']
female = attended_bootcamp["Gender"].value_counts()['female']
non_gender = total_gender - male - female

# Calculate percentage of respondents who attended a bootcamp
percent_attended = amount_attended / total_surveyed * 100

# Calculate percentage of respondents belonging to each gender
percent_male = (male / total_gender) * 100
percent_female = (female / total_gender) * 100
percent_non_gender = (non_gender / total_gender) * 100

# Calculate percentage of attendees with a school degree
percent_degree = holds_degree / amount_attended * 100

# Calculate average post-bootcamp salary
avg_salary = attended_bootcamp["BootcampPostSalary"].mean()
avg_salary

63740.50606060606

In [18]:
# Create a new table consolodating above calculations
bootcamp_breakdown = pd.DataFrame({"Total Surveyed":[total_surveyed],
                                   "Total bootcamp attendees":[amount_attended],
                                   "% attended bootcamp":[percent_attended],
                                   "Avg. Age":[average_age],
                                   "% male":[percent_male],
                                   "% female":[percent_female],
                                   "% nonbinary":[percent_non_gender],
                                   "Has a degree":[percent_degree],
                                   "Avg post bootcamp salary":[avg_salary]
                                  })
bootcamp_breakdown = bootcamp_breakdown[["Total Surveyed", "Total bootcamp attendees", "% attended bootcamp", "Avg. Age", "% male", "% female", "% nonbinary", "Has a degree", "Avg post bootcamp salary"]]
bootcamp_breakdown = bootcamp_breakdown.round(2)

bootcamp_breakdown

,Total Surveyed,Total bootcamp attendees,% attended bootcamp,Avg. Age,% male,% female,% nonbinary,Has a degree,Avg post bootcamp salary
0,15620,953,6.1,31.07,59.54,39.14,1.32,87.3,63740.51

In [19]:
# Improve formatting before outputting spreadsheet
bootcamp_breakdown["% male"] = bootcamp_breakdown["% male"].map("{0:,.2f}%".format)
bootcamp_breakdown["% female"] = bootcamp_breakdown["% female"].map("{0:,.2f}%".format)
bootcamp_breakdown["% nonbinary"] = bootcamp_breakdown["% nonbinary"].map("{0:,.2f}%".format)
bootcamp_breakdown["% attended bootcamp"] = bootcamp_breakdown["% attended bootcamp"].map("{0:,.2f}%".format)
bootcamp_breakdown["Has a degree"] = bootcamp_breakdown["Has a degree"].map("{0:,.2f}%".format)
bootcamp_breakdown["Avg post bootcamp salary"] = bootcamp_breakdown["Avg post bootcamp salary"].map("{0:,.0f}%".format)
bootcamp_breakdown

,Total Surveyed,Total bootcamp attendees,% attended bootcamp,Avg. Age,% male,% female,% nonbinary,Has a degree,Avg post bootcamp salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,87.30%,"63,741%"

In [20]:
# Export to Excel
bootcamp_breakdown.to_excel(r"C:\Users\tommy\OneDrive\Documents\Personal homework use\Week  04/Bootcamppart1.xlsx", index=False)